{% extends 'base.html' %}

{% load static %}

{% block title %} | Acerca de {% endblock %}

{% block content %}
<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br>
                <p>
                    <span class="nt_inicio">Acerca Nuestra Compa&#241;&iacute;a</span>
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <br>
                <img src="{% static 'img/acerca_de.png' %}" class="nt_cabecera">
                <br><br><br>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>
        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <p class="nt_parrafo">
                    <span class="nt_parrafo_blue">NTSFOT - BOLIVIA</span> es una compa&#241;&iacute;a de
                    Consultor&iacute;a y Servicios de Desarrollo de
                    sistemas de Información con una amplia
                    experiencia que alcanza ya los 15 a&#241;os y que est&aacute; repleta de casos de &eacute;xito en la
                    implementaci&oacute;n de
                    productos y herramientas inform&aacute;ticas al servicio de muchas empresas y organizaciones en
                    general.
                </p>
                <p class="nt_parrafo">
                    La experiencia, nuestra filosof&iacute;a de trabajo y la alta cualificaci&oacute;n de nuestros
                    profesionales
                    consolidan d&iacute;a a d&iacute;a a nuestra empresa en una posici&oacute;n destacada dentro el
                    sector inform&aacute;tico.
                </p>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <div class="nt_container_col2 w-100">
                    <div class="nt_item_col2">
                        <img src="{% static 'img/filosofia.jpg' %}" class="nt_cabecera">
                    </div>
                    <div class="nt_item_col2">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td class="w-2">
                                        &nbsp;
                                    </td>
                                    <td class="w48">
                                        <p class="nt_parrafo">
                                            <span class="nt_parrafo_blue">Filosof&iacute;a</span>
                                            nuestro objetivo es proporcionar soluciones inform&aacute;ticas y de
                                            gesti&oacute;n
                                            adecuadas a cada
                                            cliente,
                                            usando tecnolog&iacute;as y metodolog&iacute;as avanzadas. Sistemas y
                                            software
                                            desarrollados por
                                            personal
                                            altamente cualificado que satisfacen las necesidades del cliente, cumpliendo
                                            criterios de eficacia,
                                            calidad, competitividad y rentabilidad.
                                        </p>
                                        <p class="nt_parrafo">
                                            Gracias a ello, contamos con una amplia experiencia plagada de casos de
                                            &eacute;xito
                                            que consolida a
                                            nuestra empresa dentro de su sector.

                                            Esta posici&oacute;n nos ha permitido especializarnos en diversas
                                            &aacute;reas de
                                            negocio que
                                            est&aacute;n contribuyendo
                                            a mejorar la calidad que caracteriza nuestras soluciones, incrementando el
                                            valor
                                            ofrecido y
                                            constituyendo, hoy por hoy, nuestra gran ventaja competitiva.
                                        </p>
                                        <p class="nt_parrafo">
                                            Nuestra orientaci&oacute;n al cliente, y el constante compromiso con la
                                            calidad y
                                            con nuestros
                                            profesionales abanderan el constante avance de la compa&#241;&iacute;a.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>

        <tr>
            <td class="w-2">&nbsp;</td>
            <td class="w-96">
                <div class="nt_container_col2 w-100">
                    <div class="nt_item_col2">
                        <img src="{% static 'img/valor_aniadido.jpg' %}" class="nt_cabecera">
                    </div>
                    <div class="nt_item_col2">
                        <table class="w-100">
                            <tbody>
                                <tr>
                                    <td class="w-2">
                                        &nbsp;
                                    </td>
                                    <td class="w48">
                                        <p class="nt_parrafo">
                                            <span class="nt_parrafo_blue">Valor A&#241;adido</span>
                                            Si algo garantiza los resultados de nuestro trabajo es nuestra alta
                                            responsabilidad en la gesti&oacute;n de los proyectos, con una
                                            planificaci&oacute;n y
                                            controles constantes, siguiendo metodolog&iacute;as reconocidas y tomando
                                            como base
                                            <span class="nt_parrafo_blue">los est&aacute;ndares de calidad
                                                certificados.</span>
                                        </p>
                                        <p class="nt_parrafo">
                                            Conocedores del esfuerzo que supone para el Cliente implantar soluciones
                                            basadas en Tecnolog&iacute;as de la Informaci&oacute;n, nuestros
                                            profesionales se apoyan
                                            en su experiencia y el conocimiento del negocio y de las tecnolog&iacute;as,
                                            para
                                            minimizarlo, disminuyendo el impacto econ&oacute;mico y estructural que la
                                            implantaci&oacute;n de nuevos sistemas y los nuevos m&eacute;todos de
                                            trabajo provoca en
                                            las organizaciones.
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </td>
            <td class="w-2">&nbsp;</td>
        </tr>
    </tbody>
</table>

<table class="w-100">
    <thead>
        <tr>
            <th colspan="3" class="w-100">
                <br><br><br><br><br>
                <br><br><br><br><br>
            </th>
        </tr>
    </thead>
</table>

{% endblock %}