{% extends 'base.html' %}

{% load static %}
{% load jinja_tags %}

{% block title %} | View1 {% endblock %}

{% block content %}
<div class="w-100 center">
    <span class="nt_inicio">View1</span>
</div>
<br><br>

<div class="w-100" style="overflow: scroll;">
    <table class="table3 w-100">
        <thead>
            <th class="w-30">Col1</th>
            <th class="w-10">Col2</th>
            <th class="w-10">Col3</th>
            <th class="w-10">Col4</th>
            <th class="w-10">Col5</th>
            <th class="w-10">Col6</th>
            <th class="w-10">Col7</th>
            <th class="w-10">Col8</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td class="w-30 back{{forloop.counter|back_class}} font_title left">{{row.col1}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col2}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col3}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col4}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">
                    <table class="tablec w-100">
                        <tbody>
                            <tr>
                                <td class="w-100 center">
                                    <button onclick="addComment('{{row.row_id}}');"
                                        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect nt_btn_green">
                                        add
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td class="w-100 left">
                                    <div id="div_comment_{{row.row_id}}">
                                        {% with comments=row.col5 row_id=row.row_id response='' %}
                                        {% include 'pages/comments.html' %}
                                        {% endwith %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col6}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col7}}</td>
                <td class="w-10 back{{forloop.counter|back_class}} right">{{row.col8}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<br>
<form name="form_data" method="post" action="" onsubmit="return false;">
    {% csrf_token %}
</form>

{% endblock %}