
 html, body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
  }
    
  .nt_logo{
    width: 140px;
  }
  
  .nt_cabecera{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-bottom: 15px;
  }

.table3 {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
}

.table3 tr th {
  border-right: 1px solid #0063B4;
  border-bottom: 1px solid #0063B4;
  padding: 4px;
  font-size: 14px;
  height: 25px;
}
.table3 tr td {
  border-right: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 4px;
  height: 22px;
}
.table3 tr td:first-child {
  border-left: 1px solid #CCCCCC;
}

.table3 tr th:first-child{
  border-left: solid 1px #0063B4;
  border-right: solid 1px #0063B4;
}

.table3 tr th:first-child, .table3 tr th:last-child{
  border-top:solid 1px #0063B4;
}

.table3 tr th {
  background: #0063B4;
  color: #FFFFFF;
}

/* top-left border-radius */
.table3 tr:first-child th:first-child{
  border-top-left-radius: 6px;
}

/* top-right border-radius */
.table3 tr:first-child th:last-child{
  border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.table3 tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.table3 tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
} 

.tablec {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 14px;
}

.tablec tr th {
  /*border-right: 1px solid #0063B4;
  border-bottom: 1px solid #0063B4;
  border-top: 1px solid #0063B4;
  padding: 4px;
  font-size: 14px;
  height: 25px;*/
}
.tablec tr td {
  /*border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
  border-bottom: 1px solid #CCCCCC;
  padding: 4px;
  height: 22px;*/
  border: 0;
}
.tablec tr td:first-child {
  border: 0;
}
.nt_btn_green{
  background-color: #00CA5B;
  color: #F5F5F5;
}
.nt_btn_green:hover{
  background-color: #00B050;
  color: #F5F5F5;
}
.nt_btn_green:active{
  background-color: #00B050;
}

.nt_btn_green:focus{
    background-color: #00B050;
}

.nt_btn_blue{
  background-color: #0C53FD;
  color: #F5F5F5;
}
.nt_btn_blue:hover{
  background-color: #0247E8;
  color: #F5F5F5;
}
.nt_btn_blue:active{
  background-color: #0247E8;
}

.nt_btn_blue:focus{
    background-color: #0247E8;
}

.nt_btn_silver{
  background-color: #CCCCCC;
  color: #000000;
}
.nt_btn_silver:hover{
  background-color: #BBBBBB;
  color: #333333;
}
.nt_btn_silver:active{
  background-color: #BBBBBB;
}

.nt_btn_silver:focus{
    background-color: #BBBBBB;
}

.back1{
  background-color: #25262A;
  color: #41C558;
}
.back2{
  background-color: #35363C;
  color: #41C558;
}
.font_title{
  color: #FFFFFF;
}

.mdl-dialog{
  width: 380px;  
}

.dialog_padding{
  padding: 0;
}

  .nt_layout .mdl-layout__header .mdl-layout__drawer-button {
    /* color: rgba(0, 0, 0, 0.54); */
    color: #F5F5F5;
  }
  .nt_header{
    background-color: #0060AD;
    height: 80px;
    color: #F5F5F5;
  }
  /* .mdl-layout__drawer .avatar {
    margin-bottom: 16px;
  } */
  .nt_drawer {
    border: none;
    background-color: #0064DD;
  }
  /* iOS Safari specific workaround */
  .nt_drawer .mdl-menu__container {
    z-index: -1;
  }
  .nt_drawer .nt_navigation {
    z-index: -2;
  }
  /* END iOS Safari specific workaround */
  .nt_drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
  }
  .nt_drawer-header {
    height: 70px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: solid 1px #666666;
  }
  
  .nt_navigation {
    flex-grow: 1;
    background-color: #0064DD;
  }
  .nt_layout .nt_navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.56); */
    color: #FFFFFF;
    font-weight: 500;
  }
  .nt_layout .nt_navigation .mdl-navigation__link:hover {
    background-color: #0059AA;
    color: #FFFFFF;
  }
  .nt_navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    /* color: rgba(255, 255, 255, 0.56); */
    color: #FFFFFF;
    margin-right: 32px;
  }
  .nt_layout .nt_navigation .mdl-navigation__link_select {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    /* color: rgba(255, 255, 255, 0.56); */
    background-color: #0059AA;
    color: #FFFFFF;
    font-weight: 500;
    padding: 16px 40px;
  }
  .nt_navigation_space{
    margin-right: 32px;
  }
   
  .mdl-cell.center-items {
    justify-content: center;
  }
  
.w-1{width: 1%;}
.w-2{width: 2%;}
.w-3{width: 3%;}
.w-4{width: 4%;}
.w-5{width: 5%;}
.w-6{width: 6%;}
.w-7{width: 7%;}
.w-8{width: 8%;}
.w-9{width: 9%;}
.w-10{width: 10%;}
.w-11{width: 11%;}
.w-12{width: 12%;}
.w-13{width: 13%;}
.w-14{width: 14%;}
.w-15{width: 15%;}
.w-16{width: 16%;}
.w-17{width: 17%;}
.w-18{width: 18%;}
.w-19{width: 19%;}
.w-20{width: 20%;}
.w-21{width: 21%;}
.w-22{width: 22%;}
.w-23{width: 23%;}
.w-24{width: 24%;}
.w-25{width: 25%;}
.w-26{width: 26%;}
.w-27{width: 27%;}
.w-28{width: 28%;}
.w-29{width: 29%;}
.w-30{width: 30%;}
.w-31{width: 31%;}
.w-32{width: 32%;}
.w-33{width: 33%;}
.w-34{width: 34%;}
.w-35{width: 35%;}
.w-36{width: 36%;}
.w-37{width: 37%;}
.w-38{width: 38%;}
.w-39{width: 39%;}
.w-40{width: 40%;}
.w-41{width: 41%;}
.w-42{width: 42%;}
.w-43{width: 43%;}
.w-44{width: 44%;}
.w-45{width: 45%;}
.w-46{width: 46%;}
.w-47{width: 47%;}
.w-48{width: 48%;}
.w-49{width: 49%;}
.w-50{width: 50%;}
.w-51{width: 51%;}
.w-52{width: 52%;}
.w-53{width: 53%;}
.w-54{width: 54%;}
.w-55{width: 55%;}
.w-56{width: 56%;}
.w-57{width: 57%;}
.w-58{width: 58%;}
.w-59{width: 59%;}
.w-60{width: 60%;}
.w-61{width: 61%;}
.w-62{width: 62%;}
.w-63{width: 63%;}
.w-64{width: 64%;}
.w-65{width: 65%;}
.w-66{width: 66%;}
.w-67{width: 67%;}
.w-68{width: 68%;}
.w-69{width: 69%;}
.w-70{width: 70%;}
.w-71{width: 71%;}
.w-72{width: 72%;}
.w-73{width: 73%;}
.w-74{width: 74%;}
.w-75{width: 75%;}
.w-76{width: 76%;}
.w-77{width: 77%;}
.w-78{width: 78%;}
.w-79{width: 79%;}
.w-80{width: 80%;}
.w-81{width: 81%;}
.w-82{width: 82%;}
.w-83{width: 83%;}
.w-84{width: 84%;}
.w-85{width: 85%;}
.w-86{width: 86%;}
.w-87{width: 87%;}
.w-88{width: 88%;}
.w-89{width: 89%;}
.w-90{width: 90%;}
.w-91{width: 91%;}
.w-92{width: 92%;}
.w-93{width: 93%;}
.w-94{width: 94%;}
.w-95{width: 95%;}
.w-96{width: 96%;}
.w-97{width: 97%;}
.w-98{width: 98%;}
.w-99{width: 99%;}
.w-100{width: 100%;}

.h-4{height: 4px !important;}
.h-5{height: 5px !important;}
.h-6{height: 6px !important;}
.h-7{height: 7px !important;}
.h-8{height: 8px !important;}
.h-9{height: 9px !important;}
.h-10{height: 10px !important;}
.h-11{height: 11px !important;}
.h-12{height: 12px !important;}
.h-13{height: 13px !important;}
.h-14{height: 14px !important;}
.h-15{height: 15px !important;}
.h-16{height: 16px !important;}
.h-17{height: 17px !important;}
.h-18{height: 18px !important;}
.h-19{height: 19px !important;}
.h-20{height: 20px !important;}
.h-21{height: 21px !important;}
.h-22{height: 22px !important;}
.h-23{height: 23px !important;}
.h-24{height: 24px !important;}
.h-25{height: 25px !important;}
.h-26{height: 26px !important;}
.h-27{height: 27px !important;}
.h-28{height: 28px !important;}
.h-29{height: 29px !important;}
.h-30{height: 30px !important;}
.h-31{height: 31px !important;}
.h-32{height: 32px !important;}
.h-33{height: 33px !important;}
.h-34{height: 34px !important;}
.h-35{height: 35px !important;}
.h-36{height: 36px !important;}
.h-37{height: 37px !important;}
.h-38{height: 38px !important;}
.h-39{height: 39px !important;}
.h-40{height: 40px !important;}
.h-41{height: 41px !important;}
.h-42{height: 42px !important;}
.h-43{height: 43px !important;}
.h-44{height: 44px !important;}
.h-45{height: 45px !important;}
.h-46{height: 46px !important;}
.h-47{height: 47px !important;}
.h-48{height: 48px !important;}
.h-49{height: 49px !important;}
.h-50{height: 50px !important;}
.h-51{height: 51px !important;}
.h-52{height: 52px !important;}
.h-53{height: 53px !important;}
.h-54{height: 54px !important;}
.h-55{height: 55px !important;}
.h-56{height: 56px !important;}
.h-57{height: 57px !important;}
.h-58{height: 58px !important;}
.h-59{height: 59px !important;}
.h-60{height: 60px !important;}
.h-61{height: 61px !important;}
.h-62{height: 62px !important;}
.h-63{height: 63px !important;}
.h-64{height: 64px !important;}
.h-65{height: 65px !important;}
.h-66{height: 66px !important;}
.h-67{height: 67px !important;}
.h-68{height: 68px !important;}
.h-69{height: 69px !important;}
.h-70{height: 70px !important;}
.h-100{height: 100px !important;}

.minw-10{min-width: 10px;}
.minw-20{min-width: 20px;}
.minw-30{min-width: 30px;}
.minw-40{min-width: 40px;}
.minw-50{min-width: 50px;}
.minw-60{min-width: 60px;}
.minw-70{min-width: 70px;}
.minw-80{min-width: 80px;}
.minw-90{min-width: 90px;}
.minw-100{min-width: 100px;}
.minw-110{min-width: 110px;}
.minw-120{min-width: 120px;}
.minw-130{min-width: 130px;}
.minw-140{min-width: 140px;}
.minw-150{min-width: 150px;}
.minw-160{min-width: 160px;}
.minw-170{min-width: 170px;}
.minw-180{min-width: 180px;}
.minw-190{min-width: 190px;}
.minw-200{min-width: 200px;}
.minw-210{min-width: 210px;}
.minw-220{min-width: 220px;}
.minw-230{min-width: 230px;}
.minw-240{min-width: 240px;}
.minw-250{min-width: 250px;}
.minw-260{min-width: 260px;}
.minw-270{min-width: 270px;}
.minw-280{min-width: 280px;}
.minw-290{min-width: 290px;}
.minw-300{min-width: 300px;}

.nt_inicio{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 46px;
  font-weight: 400;
  color: #555555;
  line-height: 46px;
}

.v-top{vertical-align: top;}
.v-bottom{vertical-align: bottom;}
.v-middle{vertical-align: middle;}
.right{text-align: right;}
.left{text-align: left;}
.center{text-align: center;}
.pointer{cursor: pointer;}

/*highgcharts*/
/*highgcharts*/
.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 800px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

@media (max-width: 768px) {
  .nt_container2 {
    flex-flow: column;
  }
  
  .nt_container_col2 {
    flex-flow: column;
  }
  
  .nt_item_col2 {
    width: 100%;
  }
  
  .nt_title{
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
    font-family: 'Genos', sans-serif;
    /* font-family: 'Permanent Marker', cursive; */
    font-size: 28px;
    font-weight: 400;
    color: #0C53FD;  
  }
  .nt_header{
    height: 60px;
  }
  .nt_title_row{
    padding-bottom: 65px;
  }
  .nt_drawer-header {
    height: 50px;
    padding-top: 10px;
    padding-left: 10px;
    border-bottom: solid 1px #666666;
  }
  .nt_logo{
    width: 110px;
  }
  
  .nt_cabecera{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    padding-bottom: 1px;
  }
  
  #nt_message {
    position: fixed;
    display: block;
    right: 0;
    bottom: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    z-index: 900;
  }
  
  .nt_contact{
    font-size: 52px;
    /* color: #3FFF5F; */
    color: #00CA5B;
  }
  
  .nt_layout .nt_navigation .mdl-navigation__link_select {
    padding: 16px;
  }
} 